{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}

<h2>My Account </h2>
<p></p>
First Name: {{ profile.user.first_name }}
<br> 
Last Name: {{ profile.user.last_name }}
<br>
Username: {{ profile.user.username }} 
<br>
Email: {{ profile.user.email }}
<br>
{% if profile.user.user_type == 'ADM' %}
{% else %}
Member Type: {{ profile.member_type }}
<br>
{% endif %}
{% if profile.user.user_type == 'ADM' %}
User Type: {{ profile.user.user_type }}
<br>
{% endif %}

{% if profile.member_type == 'CSP' %}
Experience/Qualifications: {{ profile.user.exp_qual }}
{% endif %}
<br>
{% if current_user.user_type == 'CSP' %}
<a href="{{url_for('main.exp_edit', id=current_user.id) }}">Edit Experience</a>
<br>
{% else %}
{% endif %}
{% if profile.member_type == 'CSP' %}
Rating: {{ profile.user.rating }}
{% endif %}
{% endblock %}