{% extends "base.html" %}


{% block app_content %}

<h2>Contact Us </h2>

<p>275 London Road, Lemmington, LM3 6XA</p>
<p>+44 0123 456 7890</p>
<p>DontKnown@email.com</p>
<br><a href="https://www.facebook.com/facebook/">
    <img src="{{url_for('static', filename='img/facebook.png')}}" alt="Facebook" style="width: auto; margin:auto;">
</a>
<br><br>
<a href="https://twitter.com/">
    <img src="{{url_for('static', filename='img/twitter.png')}}" alt="Twitter" style="width: auto; margin:auto;">
</a>

{% endblock %}