{% extends "base.html" %}


{% block app_content %}

<h1>News</h1>


<b>Statistics show that 95% of people that buy and complete the courses get noticeably better at the topics in under a month.</b>

<p>Our latest statistics shown that around 95% people that use our courses to learn get a lot better at coding and find out more about every topic that we offer.</p>
<br> 
<b>Special Offers on Now!!!</b>
<p>
Save money on courses and get percentage of courses.
More information: Go to the News Annoucement page
</p>
<br>


<h1>Annoucements</h1>

<b>Travis Scott admits he used SIC (SMART INTELLIGENCE COURSES) every day of week </b>
<p>From a recent Travis Scott interview we have learnt that Travis Scott uses our service to learn computer science courses</p>
<br>




<b>New Courses Coming Soon</b>
<p>We are proud to annouce that we have been working on new coruses that will be available soon</p>
<br>
 <p>Go to the News and Annoucement page for more information</p>
{% endblock %}