{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="w-75 mx-auto text-center">    
        <!-- Detail Page  (All New and Announcements here)--> 
        {% for new in news : %}

            
            <u>{{new.title}} </u>
            <p>{{new.caption}}</p>
            <p>{{new.description}}</p>
            <p>{{new.date}}</p>

            {% if current_user.is_authenticated %}
                <p><a href="\news\{{new.id}}">Edit News</a></p>
                <p><a href="\delete\{{new.id}}">Delete News</a></p>
            {% endif %}


        
        {%endfor%}
    </div>
{% endblock %}