{% extends "base.html" %}


{% block app_content %}

<h1>News</h1>

<b>Travis Scott uses SIC!!</b>
<p>in recent interview Travis Scott has admitted he uses SIC every day of the week and has purchased every course as he wants to learn more about computing as he “want(s) to explore a new field and find opportunities that I (he) can capitilise on and build an empire on”.
     We are honoured that such a big influencer uses our learning equipement but we are even more honoured that we have been acknowledged.
    This is a massive accomplishment for us and to celebrate you will be able to get a discount with a code that can be found in news and annoucements</p>
<br>

<b>New Courses Coming Soon</b>
<p>We are proud to announce that we have been working on new coruses that will be available soon. we have been implementing new ways of teaching our courses and made these a reality
    These new activities will be even more fun than now and a lot easier to learn than before.
</p>


<br>
<b>Statistics show that 95% of people that buy and complete the courses get noticeably better at the topics in under a month.</b>
<p>Our latest statistics shown that around 95% people that use our courses to learn get a lot better at coding and find out more about every topic that we offer. We have had great reviews and most people surveyed are happy with the course and the price of the courses and they would recommend courses.</p>

<h1>Announcements</h1>
<b>Sale:</b>
 
<p>SPECIAL OFFER: Get 10% off selected courses if you sign up using code “NEWM8” </p>

<p>SPECIAL OFFER: Save £10 when buying yearly subscription  </p>

<p>SPECIAL OFFER: Buy 3 courses and save 15%  </p>

<p>SPECIAL OFFER: Use code “TRAVUSESSIC” to get 5% off every course  </p>
    


<br>
<br>
<br>
<br>
{% endblock %}